.info-image {
    object-fit: cover;
    max-height: 1000px;
    min-height: 800px;
    width: 100%;
}


#list_form {
  display: flex;
  margin: 50px auto;
  padding: 10px;
  flex-direction: column;
  width: 30rem;
  height: 65rem;
  min-width: 450px;
}
