{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <!-- Section-->
    <section>
        <div class="main-text">
            <h2 class="display-5 fw-bolder">{{ upload_result.created_at | date:"m월d일"}}</h2>
            <h4 class="display-5"> {{ upload_result.mealtimes }} 식사 영양정보</h4>
        </div>
        <form action="{% url 'upload:detail' pk=upload_result.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="img-container">
                <div class="wrapper">
                    <div class="image">
                        <img src='{{ upload_result.image.url }}' alt='' />
                    </div>
                    <div id="img-name">File name here</div>
                </div>
                <button type="button" id="custom-btn" class="btn btn-dark openModalBtn">
                    REPOST
                </button>
                <!-- 모달 영역 -->
                <div id="modalBox" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Information</h4>
                            </div>
                            <div class="modal-body">
                                메인페이지로 돌아갑니다.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"  onclick="delete_modal()" >확인</button>
                                <button type="button" class="btn btn-default" id="closeModalBtn">취소</button>
                            </div>
                        </div>
                    </div>
                </div>


                {% if food %}
                    {% for i in food %}
                        {{ i }}
                    {% endfor %}
                {% endif %}
                <label for="exampleSelect1" class="form-label5" placeholder="Meal Times"></label>
                <select name=mealtimes id="id_mealtimes" class="form-select" placeholder="Meal Times">
                    <option value="" disabled selected hidden>How many servings did you eat? (General)</option>
                    <option>0.5</option>
                    <option>1.0</option>
                    <option>1.5</option>
                </select>
                <input type="submit" class="btn btn-primary mt-8" id="custom-btn" value="upload">
            </div>
        </form>
        <script src="{% static 'js/upload.js' %}"></script>
        <script>

            // 모달 버튼에 이벤트를 건다.
            $('.openModalBtn').on('click', function(){
                $('#modalBox').modal('show');
            });
            // 모달 안의 취소 버튼에 이벤트를 건다.
            $('#closeModalBtn').on('click', function(){
                $('#modalBox').modal('hide');
            });
            function delete_modal() {
                location.replace('/detail/{{ upload_result.pk }}/delete/');
            }
        </script>

    </section>
{% endblock %}